body {
  font-family: var(--ff-inter-regular);
  font-size: var(--font-size-m);
  color: var(--color-dark);
  background-color: var(--color-gray);
}

.container {
  width: 100%;
  padding-inline: 5px;
}
