.header {
  display: flex;
  justify-content: space-between;
  &__close,
  &__more,
  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 11px 14px;
    background-color: #c6c6c6;
    border-radius: 20px;
    height: max-content;
    line-height: 1;
    font-size: 11px;
    height: 30px;
    transition-duration: 0.3s;

    @include hover {
      opacity: 0.8;
      transform: scale(1.02);
    }
  }
  &__link {
    background-color: var(--color-light);
    border-radius: 5px;
    font-size: 13px;
    color: var(--color-dark);
    border-radius: 20px;
    padding: 11px 6px 11px 3px;
  }
  &__more {
    gap: 11px;
  }
}
